{% extends 'layout.html' %}

{% block pageTitle %}
Application successful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                Application successful
              </h1>
              <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
                Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold" style="color: white;">HDJ2123F</span>
              </h3>
            </div>
          </div>

          <h2 class="nhsuk-heading-m">What happens next</h2>

          <p>We’ve sent you more information about becoming a magician.</p>      

          <p>You should hear whether you have been successful within 5 to 10 working days.</p>

          <h2 class="nhsuk-heading-m">Any problems</h2>

          <p>If you do not hear back or you no longer want to be a magician, you can contact us by:</p>

          <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

            <ul class="nhsuk-list">
              <li>Telephone: 0123 456 7890</li>
              <li>This phoneline is available Monday to Friday, 8am to 6pm (except public holidays).</li>
            </ul>
            
            <p>
              <a class="nhsuk-link" href="#" target="_blank">Find out about call charges</a>
            </p>

            <ul class="nhsuk-list">
              <li>Email: <a href="#" class="nhsuk-link">the.amazing.geoff@nhsbsa.nhs.uk</a></li>
              <li>We aim to respond to your email within 2 working days.</li>
            </ul>

          </div>

          <h2 class="nhsuk-heading-m">Give feedback</h2>
          <p><a href="#" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>


    </div>

</div>

{% endblock %}