<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS BSA Design Interview (Technical Test)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Design System Activity
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Find all the problems!</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Go through a made-up user journey, and find all the issues it has.
      </p>

      <h2>
        Activity
      </h2>

      <p>
        You join a high profile NHS BSA agile project that is at the Private Beta stage.
      </p>

      <p>
        Your new service has a simple user journey which collects a persons name, address and date of birth and allows them to apply to be a magician.
      </p>

      <p>
        The prototype has a number of issues, and doesn't always use consistent, accessible patterns from the <a href="https://service-manual.nhs.uk/design-system">NHS Design System</a>.
      </p>

      <p>
        Your job is to identify what elements of the prototype are off pattern!
      </p>

      <a href="/Scenario-1" class="nhsuk-button nhsuk-u-margin-bottom-0">
        Start
      </a>


    </div>
  </div>

{% endblock %}
