<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS BSA Design Interview (Technical Test)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS BSA Design Interview
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">(Technical Test)</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        As part of your interview, we'd like to get a feel on your range of technical skills.
      </p>

      <hr>

      <h2>
        NHS.UK Prototype Kit
      </h2>

      <p>
        Within the NHS, we do a lot of prototyping of our ideas. This is to discuss ideas more clearly amongst the team and to test our ideas with real people.
      </p>
      
      <p>
        Prototyping reduces risk, development and maintenance costs by testing our assumptions and ideas early and often.
      </p>

      <p>
        The NHS.UK Prototype Kit provides a simple way to make interactive prototypes that look and feel like pages on NHS.UK using a range of HTML, SASS (which is used to generate CSS) and JavaScript.
      </p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Installation instructions
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>
            To install this prototype, please follow these instructions:
          </p>
    
          <ul>
            <li>
              <a href="/docs/install/simple">Install guide (non technical)</a>
            </li>
            <li>
              <a href="/docs/install/advanced">Developer friendly install guide (technical)</a>
            </li>
          </ul>
      
        </div>
      </details>

      <hr>

      <h2>
        Scenario 1
      </h2>

      <p>
        You join a high profile NHS BSA agile project that is at the Private Beta stage.
      </p>

      <p>
        Your new service has a simple user journey which collects a persons name, address and date of birth and allows them to apply to be a magician:
      </p>

      <img class="app-img-guide nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-7" alt="Diagram of 6 pages connected together" src="/images/user-flow.svg" />

      <p>
        The prototype has a number of issues:
      </p>

      <ol>
        <li>It doesn’t use consistent, accessible patterns from the <a href="https://service-manual.nhs.uk/design-system">NHS Design System</a>.</li>
        <li>The prototype doesn't go from the address page to the date of birth page.</li>
      </ol>

      <p>
        Your job is to identify what elements of the prototype are off pattern and what is stopping the prototype from working, and make the relevant changes.
      </p>

      <a href="/Scenario-1" class="nhsuk-button nhsuk-u-margin-bottom-0">
        Scenario 1
      </a>

      <hr>

      <h2>
        Scenario 2
      </h2>

      <p>
        TBC
      </p>

      <a disabled href="/Scenario-2" class="nhsuk-button nhsuk-u-margin-bottom-0">
        Scenario 2
      </a>

    </div>
  </div>

{% endblock %}
